@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Karla:ital,wght@0,200..800;1,200..800&family=Nanum+Gothic+Coding&family=Playfair+Display:wght@500&family=Quicksand&display=swap');

.container2 {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;

    background-color: #363D5600;
    padding: 5px;
    font-family: "Karla", sans-serif;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
}

.container2 ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-right: 10px;
    color: #ffffff80;
}