
.alerts {
    display: flex;
    flex-direction: column;
    background-color: #30343C;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}
.alert-icon {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.alerts .title {
    text-align: center;
}
.alerts .content {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}