.weather{
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 90%;
    height: 400px;
    padding: 5px;
}

.humidity-icon{
    width: 20%;
    margin-top: 2vh;
}

.top {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30343C;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.city{
    font-size: 25pt;
    margin-right:15px;
}

.temp{
    font-size: 25pt;
    margin-right:15px;
}

.middle {
    margin-top: 5px;
    display: flex;
    justify-content: column;
    align-items: center;
}

.weather-icon-up{
    width: 35%;
    height: auto;
    margin-left: 25px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wind-container, .humidity-container {
    display: flex;
    align-items: center;
}

.wind-icon, .humidity-icon {
    margin-left: 30%;
    width: 20%;
    margin-top: 3vh;
    margin-right: 10px; /* Add a margin to the right of the icons */
}

.wind, .humidity{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-size: 15pt;
}

.flex-container > div {
    margin-left: 40px;
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12pt;
    align-items:center;
  }
  
  .flex-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
    align-items:center;
  }