.events {
    background-color: #30343C;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
    color: #ffffffae;
    max-height: fit-content;
}

.events .title {
    text-align: center;
}

.placeholder-content {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: center;
}
.placeholder-content1, .placeholder-content2 {
    display: flex;
}
.placeholder-text, .placeholder-text2 {
    margin-top: -30px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.placeholder-text h3, .placeholder-text2 h3 {
    font-family: "JetBrains Mono", monospace;

}
.events img {
    height: 100px;
    padding-right: 10px;
}

h3 a {
    text-decoration: none;
    color: inherit;
  }
  
  h3 a:hover, h3 a:focus, h3 a:active {
    text-decoration: none;
    color: #007BFF; /* Change this to the color you want when hovered */
    transform: scale(1.05); /* This will slightly increase the size of the text when hovered */
  }