@media (max-width: 841px) {
    .container {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "search"
            "weather"
            "forecast"
            "warn"
            "recs"
            "events";
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        grid-area: header;
        width: 90%;
        text-align: center;
        padding-left: 10px;
    }
    .search {
        grid-area: search;
        width: 83vw;
        padding-left: 22px;
    }
    .weather {
        grid-area: weather;
        align-items: center;
        width: calc(100% - 20px);
        margin-left: -4.5px;
    }
    .forecast {
        grid-area: forecast;
        width: calc(100% - 20px);
        margin-left: -4.5px;
    }
    .recommendations {
        grid-area: recs;
        width: calc(100% - 20px);
        margin-left: -4.5px;
        .info_circle {
            margin-left: auto;
            margin-right: auto;
            /* height: 100px; */
            /* width: auto; */
        }
    }
    .events {
        grid-area: events;
        width: calc(100% - 20px);
        margin-left: -4.5px;
    }
    .alerts {
        grid-area: warn;
        margin-left: -4.5px;
        width: calc(100% - 30px);
    }
}