@media (max-width: 841px) {
    .container {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "search"
            "weather"
            "forecast"
            "warn"
            "recs"
            "events";
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        grid-area: header;
        width: 90%;
        text-align: center;
        margin-left: 15px;
    }
    .search {
        grid-area: search;
        width: 83vw;
        margin-left: 5px;
    }
    .weather {
        grid-area: weather;
        align-items: center;
        width: 99.5%
    }
    .forecast {
        grid-area: forecast;
        width: 99.5%
    }
    .recommendations {
        grid-area: recs;
        .info_circle {
            margin-left: auto;
            margin-right: auto;
            height: 80px;
            width: auto;
        }
    }
    .events {
        grid-area: events;
    }
    .alerts {
        grid-area: warn;
        margin-left: -1px;
        width: calc(100% - 10px);
    }
}